# Echo Pod KNN

In [1]:
import pandas
import numpy as np
import scipy.stats as sp
from sklearn import neighbors
from sklearn.neighbors import DistanceMetric
from pprint import pprint

titanic_data = pandas.read_csv("train.csv", header=0)
titanic_data.head(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

## Removing Excess Columns

In [2]:
titanic_data.drop(['Name', 'Ticket', 'Cabin'], axis=1, inplace=True)
titanic_data.head(1)

   PassengerId  Survived  Pclass   Sex   Age  SibSp  Parch  Fare Embarked
0            1         0       3  male  22.0      1      0  7.25        S

In [3]:
titanic_data.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [4]:
titanic_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 9 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Fare           891 non-null float64
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(2)
memory usage: 62.7+ KB

## Pre-Processing

Taking discrete values and making them integers.

In [5]:
titanic_data['Embarked'].unique()
titanic_data['Port'] = titanic_data['Embarked'].map({'C':1, 'S':2, 'Q':3}).astype(float)
titanic_data['Sex'].unique()
titanic_data['Gender'] = titanic_data['Sex'].map({'female': 0, 'male': 1}).astype(int)
titanic_data = titanic_data.drop(['Sex', 'Embarked'], axis=1)
titanic_data.head(1)

   PassengerId  Survived  Pclass   Age  SibSp  Parch  Fare  Port  Gender
0            1         0       3  22.0      1      0  7.25   2.0       1

In [6]:
cols = titanic_data.columns.tolist()
print(cols)
cols = [cols[1]] + cols[0:1] + cols[2:]
print(cols)
titanic_data = titanic_data[cols]
print(titanic_data.head(2))
train_data = titanic_data[cols[2: ]]
train_target = titanic_data[cols[1]]
print(train_target.head(2))

pprint('column_list: {0}'.format(cols))

['PassengerId', 'Survived', 'Pclass', 'Age', 'SibSp', 'Parch', 'Fare', 'Port', 'Gender']
['Survived', 'PassengerId', 'Pclass', 'Age', 'SibSp', 'Parch', 'Fare', 'Port', 'Gender']
   Survived  PassengerId  Pclass   Age  SibSp  Parch     Fare  Port  Gender
0         0            1       3  22.0      1      0   7.2500   2.0       1
1         1            2       1  38.0      1      0  71.2833   1.0       0
0    1
1    2
Name: PassengerId, dtype: int64
("column_list: ['Survived', 'PassengerId', 'Pclass', 'Age', 'SibSp', 'Parch', "
 "'Fare', 'Port', 'Gender']")

In [7]:
df_test = pandas.read_csv('test.csv')

df_test = df_test.drop(['Name', 'Ticket', 'Cabin'], axis=1)


df_test['Gender'] = df_test['Sex'].map({'female': 0, 'male': 1}).astype(int)
df_test['Port'] = df_test['Embarked'].map({'C':1, 'S':2, 'Q':3}).astype(int)

df_test = df_test.drop(['Sex', 'Embarked'], axis=1)
df_test.Fare.fillna(np.mean(df_test.Fare), inplace=True)
df_test.Age.fillna(np.mean(df_test.Age), inplace=True)
df_test.info()
test_data = df_test.values
test_data

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 8 columns):
PassengerId    418 non-null int64
Pclass         418 non-null int64
Age            418 non-null float64
SibSp          418 non-null int64
Parch          418 non-null int64
Fare           418 non-null float64
Gender         418 non-null int64
Port           418 non-null int64
dtypes: float64(2), int64(6)
memory usage: 26.2 KB

array([[  8.92000000e+02,   3.00000000e+00,   3.45000000e+01, ...,
          7.82920000e+00,   1.00000000e+00,   3.00000000e+00],
       [  8.93000000e+02,   3.00000000e+00,   4.70000000e+01, ...,
          7.00000000e+00,   0.00000000e+00,   2.00000000e+00],
       [  8.94000000e+02,   2.00000000e+00,   6.20000000e+01, ...,
          9.68750000e+00,   1.00000000e+00,   3.00000000e+00],
       ...,
       [  1.30700000e+03,   3.00000000e+00,   3.85000000e+01, ...,
          7.25000000e+00,   1.00000000e+00,   2.00000000e+00],
       [  1.30800000e+03,   3.00000000e+00,   3.02725904e+01, ...,
          8.05000000e+00,   1.00000000e+00,   2.00000000e+00],
       [  1.30900000e+03,   3.00000000e+00,   3.02725904e+01, ...,
          2.23583000e+01,   1.00000000e+00,   1.00000000e+00]])

## Normalize & Fill

In [8]:
titanic_data.Age.fillna(np.mean(titanic_data.Age), inplace=True)
titanic_data.Port.fillna(3.0, inplace=True)

train_data = titanic_data[cols[2: ]]
train_target = titanic_data[cols[1]]

print(titanic_data.Age)                        
titanic_data.info()

0      22.000000
1      38.000000
2      26.000000
3      35.000000
4      35.000000
5      29.699118
6      54.000000
7       2.000000
8      27.000000
9      14.000000
10      4.000000
11     58.000000
12     20.000000
13     39.000000
14     14.000000
15     55.000000
16      2.000000
17     29.699118
18     31.000000
19     29.699118
20     35.000000
21     34.000000
22     15.000000
23     28.000000
24      8.000000
25     38.000000
26     29.699118
27     19.000000
28     29.699118
29     29.699118
         ...
861    21.000000
862    48.000000
863    29.699118
864    24.000000
865    42.000000
866    27.000000
867    31.000000
868    29.699118
869     4.000000
870    26.000000
871    47.000000
872    33.000000
873    47.000000
874    28.000000
875    15.000000
876    20.000000
877    19.000000
878    29.699118
879    56.000000
880    25.000000
881    33.000000
882    22.000000
883    28.000000
884    25.000000
885    39.000000
886    27.000000
887    19.000000
888    29.699118
889    26.000000
890    32.000000
Name: Age, dtype: float64
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 9 columns):
Survived       891 non-null int64
PassengerId    891 non-null int64
Pclass         891 non-null int64
Age            891 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Fare           891 non-null float64
Port           891 non-null float64
Gender         891 non-null int64
dtypes: float64(3), int64(6)
memory usage: 62.7 KB

## SciKit Learn

In [9]:
model = neighbors.KNeighborsClassifier()
print(train_data.values)
train_data.info()
print(train_target.values)
print(train_data.values)
model.fit(train_data.values, train_target.values)
print(model.fit)

output = model.predict(test_data).astype(int)

result = np.c_[test_data[:,0].astype(int), output.astype(int)]
# predictions_file = open("myfirstforest.csv", "wb")
# open_file_object = csv.writer(predictions_file)
# open_file_object.writerow(["PassengerId","Survived"])
# open_file_object.writerows(zip(ids, output))
# predictions_file.close()
# print 'Done.'

df_result = pandas.DataFrame(result[:,0:2], columns=['PassengerId', 'Survived'])
df_result.to_csv('titanic.csv', index=False)

[[  3.          22.           1.         ...,   7.25         2.           1.        ]
 [  1.          38.           1.         ...,  71.2833       1.           0.        ]
 [  3.          26.           0.         ...,   7.925        2.           0.        ]
 ...,
 [  3.          29.69911765   1.         ...,  23.45         2.           0.        ]
 [  1.          26.           0.         ...,  30.           1.           1.        ]
 [  3.          32.           0.         ...,   7.75         3.           1.        ]]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 7 columns):
Pclass    891 non-null int64
Age       891 non-null float64
SibSp     891 non-null int64
Parch     891 non-null int64
Fare      891 non-null float64
Port      891 non-null float64
Gender    891 non-null int64
dtypes: float64(3), int64(4)
memory usage: 48.8 KB
[  1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17  18
  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35  36
  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53  54
  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71  72
  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89  90
  91  92  93  94  95  96  97  98  99 100 101 102 103 104 105 106 107 108
 109 110 111 112 113 114 115 116 117 118 119 120 121 122 123 124 125 126
 127 128 129 130 131 132 133 134 135 136 137 138 139 140 141 142 143 144
 145 146 147 148 149 150 151 152 153 154 155 156 157 158 159 160 161 162
 163 164 165 166 167 168 169 170 171 172 173 174 175 176 177 178 179 180
 181 182 183 184 185 186 187 188 189 190 191 192 193 194 195 196 197 198
 199 200 201 202 203 204 205 206 207 208 209 210 211 212 213 214 215 216
 217 218 219 220 221 222 223 224 225 226 227 228 229 230 231 232 233 234
 235 236 237 238 239 240 241 242 243 244 245 246 247 248 249 250 251 252
 253 254 255 256 257 258 259 260 261 262 263 264 265 266 267 268 269 270
 271 272 273 274 275 276 277 278 279 280 281 282 283 284 285 286 287 288
 289 290 291 292 293 294 295 296 297 298 299 300 301 302 303 304 305 306
 307 308 309 310 311 312 313 314 315 316 317 318 319 320 321 322 323 324
 325 326 327 328 329 330 331 332 333 334 335 336 337 338 339 340 341 342
 343 344 345 346 347 348 349 350 351 352 353 354 355 356 357 358 359 360
 361 362 363 364 365 366 367 368 369 370 371 372 373 374 375 376 377 378
 379 380 381 382 383 384 385 386 387 388 389 390 391 392 393 394 395 396
 397 398 399 400 401 402 403 404 405 406 407 408 409 410 411 412 413 414
 415 416 417 418 419 420 421 422 423 424 425 426 427 428 429 430 431 432
 433 434 435 436 437 438 439 440 441 442 443 444 445 446 447 448 449 450
 451 452 453 454 455 456 457 458 459 460 461 462 463 464 465 466 467 468
 469 470 471 472 473 474 475 476 477 478 479 480 481 482 483 484 485 486
 487 488 489 490 491 492 493 494 495 496 497 498 499 500 501 502 503 504
 505 506 507 508 509 510 511 512 513 514 515 516 517 518 519 520 521 522
 523 524 525 526 527 528 529 530 531 532 533 534 535 536 537 538 539 540
 541 542 543 544 545 546 547 548 549 550 551 552 553 554 555 556 557 558
 559 560 561 562 563 564 565 566 567 568 569 570 571 572 573 574 575 576
 577 578 579 580 581 582 583 584 585 586 587 588 589 590 591 592 593 594
 595 596 597 598 599 600 601 602 603 604 605 606 607 608 609 610 611 612
 613 614 615 616 617 618 619 620 621 622 623 624 625 626 627 628 629 630
 631 632 633 634 635 636 637 638 639 640 641 642 643 644 645 646 647 648
 649 650 651 652 653 654 655 656 657 658 659 660 661 662 663 664 665 666
 667 668 669 670 671 672 673 674 675 676 677 678 679 680 681 682 683 684
 685 686 687 688 689 690 691 692 693 694 695 696 697 698 699 700 701 702
 703 704 705 706 707 708 709 710 711 712 713 714 715 716 717 718 719 720
 721 722 723 724 725 726 727 728 729 730 731 732 733 734 735 736 737 738
 739 740 741 742 743 744 745 746 747 748 749 750 751 752 753 754 755 756
 757 758 759 760 761 762 763 764 765 766 767 768 769 770 771 772 773 774
 775 776 777 778 779 780 781 782 783 784 785 786 787 788 789 790 791 792
 793 794 795 796 797 798 799 800 801 802 803 804 805 806 807 808 809 810
 811 812 813 814 815 816 817 818 819 820 821 822 823 824 825 826 827 828
 829 830 831 832 833 834 835 836 837 838 839 840 841 842 843 844 845 846
 847 848 849 850 851 852 853 854 855 856 857 858 859 860 861 862 863 864
 865 866 867 868 869 870 871 872 873 874 875 876 877 878 879 880 881 882
 883 884 885 886 887 888 889 890 891]
[[  3.          22.           1.         ...,   7.25         2.           1.        ]
 [  1.          38.           1.         ...,  71.2833       1.           0.        ]
 [  3.          26.           0.         ...,   7.925        2.           0.        ]
 ...,
 [  3.          29.69911765   1.         ...,  23.45         2.           0.        ]
 [  1.          26.           0.         ...,  30.           1.           1.        ]
 [  3.          32.           0.         ...,   7.75         3.           1.        ]]
<bound method SupervisedIntegerMixin.fit of KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=5, p=2,
           weights='uniform')>

ValueError: query data dimension must match training data dimension