# Objective

Predict the survival of Titanic passengers using a K-Means algorithm.

## Data Analysis

### Data Import

In [1]:
import pandas
import numpy as np
from sklearn.cross_validation import train_test_split
from sklearn.cluster import KMeans
from pprint import pprint

TITANIC_TRAIN = 'train.csv'
TITANIC_TEST = 'test.csv'
# t_df refers to titanic_dataframe
t_df = pandas.read_csv(TITANIC_TRAIN, header=0)

## Selection of Features

In [2]:
t_df.drop(['Name', 'Ticket', 'Cabin', 'Embarked', 'Sex'], axis=1, inplace=True)
t_df.info()
t_df.head(1)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 7 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Fare           891 non-null float64
dtypes: float64(2), int64(5)
memory usage: 48.8 KB

   PassengerId  Survived  Pclass   Age  SibSp  Parch  Fare
0            1         0       3  22.0      1      0  7.25

## Cleaning Data

In [3]:
t_df.Age.fillna(np.mean(t_df.Age), inplace=True)
t_df.info()
t_df.head(5)
t_df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 7 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Age            891 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Fare           891 non-null float64
dtypes: float64(2), int64(5)
memory usage: 48.8 KB

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,13.002015,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,22.000000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,29.699118,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,35.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [25]:
test_df = pandas.read_csv(TITANIC_TEST, header=0)
test_df.drop(['Name', 'Ticket', 'Cabin', 'Embarked', 'Sex'], axis=1, inplace=True)
test_df.info()
test_df.head(1)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 6 columns):
PassengerId    418 non-null int64
Pclass         418 non-null int64
Age            332 non-null float64
SibSp          418 non-null int64
Parch          418 non-null int64
Fare           417 non-null float64
dtypes: float64(2), int64(4)
memory usage: 19.7 KB

   PassengerId  Pclass   Age  SibSp  Parch    Fare
0          892       3  34.5      0      0  7.8292

In [26]:
test_df.Age.fillna(np.mean(test_df.Age), inplace=True)
test_df.Fare.fillna(np.mean(test_df.Fare), inplace=True)
test_df.info()
test_df.head(5)
test_df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 6 columns):
PassengerId    418 non-null int64
Pclass         418 non-null int64
Age            418 non-null float64
SibSp          418 non-null int64
Parch          418 non-null int64
Fare           418 non-null float64
dtypes: float64(2), int64(4)
memory usage: 19.7 KB

       PassengerId      Pclass         Age       SibSp       Parch        Fare
count   418.000000  418.000000  418.000000  418.000000  418.000000  418.000000
mean   1100.500000    2.265550   30.272590    0.447368    0.392344   35.627188
std     120.810458    0.841838   12.634534    0.896760    0.981429   55.840500
min     892.000000    1.000000    0.170000    0.000000    0.000000    0.000000
25%     996.250000    1.000000   23.000000    0.000000    0.000000    7.895800
50%    1100.500000    3.000000   30.272590    0.000000    0.000000   14.454200
75%    1204.750000    3.000000   35.750000    1.000000    0.000000   31.500000
max    1309.000000    3.000000   76.000000    8.000000    9.000000  512.329200

## Experiment Heueristics (Design)

### Evaluation Function Declarations

F1 score to be used to evaluate algoritm results.

In [4]:
def precision(tp, fp):
    return tp / (tp + fp)
    
def recall(tp, fn):
    return tp / (tp + fn)
    
def f1_score(tp, fn, fp):
    pre = precision(tp, fp)
    rec = recall(tp, fn)
    return (2 * ((pre * rec) / (pre + rec)))

### Representation

In [5]:
train, test = train_test_split(t_df, test_size = 0.2)
y = train['Survived']
# y = test
# x = train['Age'].values[:,np.newaxis]
x = train
print(x)
# print(len(train), len(train['Survived']), len(x))

     PassengerId  Survived  Pclass        Age  SibSp  Parch      Fare
419          420         0       3  10.000000      0      2   24.1500
367          368         1       3  29.699118      0      0    7.2292
111          112         0       3  14.500000      1      0   14.4542
798          799         0       3  30.000000      0      0    7.2292
761          762         0       3  41.000000      0      0    7.1250
562          563         0       2  28.000000      0      0   13.5000
829          830         1       1  62.000000      0      0   80.0000
133          134         1       2  29.000000      1      0   26.0000
847          848         0       3  35.000000      0      0    7.8958
722          723         0       2  34.000000      0      0   13.0000
806          807         0       1  39.000000      0      0    0.0000
117          118         0       2  29.000000      1      0   21.0000
803          804         1       3   0.420000      0      1    8.5167
862          863         1       1  48.000000      0      0   25.9292
786          787         1       3  18.000000      0      0    7.4958
268          269         1       1  58.000000      0      1  153.4625
175          176         0       3  18.000000      1      1    7.8542
35            36         0       1  42.000000      1      0   52.0000
304          305         0       3  29.699118      0      0    8.0500
598          599         0       3  29.699118      0      0    7.2250
686          687         0       3  14.000000      4      1   39.6875
587          588         1       1  60.000000      1      1   79.2000
350          351         0       3  23.000000      0      0    9.2250
91            92         0       3  20.000000      0      0    7.8542
182          183         0       3   9.000000      4      2   31.3875
146          147         1       3  27.000000      0      0    7.7958
679          680         1       1  36.000000      0      1  512.3292
849          850         1       1  29.699118      1      0   89.1042
461          462         0       3  34.000000      0      0    8.0500
740          741         1       1  29.699118      0      0   30.0000
..           ...       ...     ...        ...    ...    ...       ...
629          630         0       3  29.699118      0      0    7.7333
312          313         0       2  26.000000      1      1   26.0000
486          487         1       1  35.000000      1      0   90.0000
561          562         0       3  40.000000      0      0    7.8958
116          117         0       3  70.500000      0      0    7.7500
105          106         0       3  28.000000      0      0    7.8958
331          332         0       1  45.500000      0      0   28.5000
1              2         1       1  38.000000      1      0   71.2833
434          435         0       1  50.000000      1      0   55.9000
141          142         1       3  22.000000      0      0    7.7500
45            46         0       3  29.699118      0      0    8.0500
127          128         1       3  24.000000      0      0    7.1417
213          214         0       2  30.000000      0      0   13.0000
273          274         0       1  37.000000      0      1   29.7000
237          238         1       2   8.000000      0      2   26.2500
443          444         1       2  28.000000      0      0   13.0000
400          401         1       3  39.000000      0      0    7.9250
559          560         1       3  36.000000      1      0   17.4000
407          408         1       2   3.000000      1      1   18.7500
265          266         0       2  36.000000      0      0   10.5000
290          291         1       1  26.000000      0      0   78.8500
802          803         1       1  11.000000      1      2  120.0000
362          363         0       3  45.000000      0      1   14.4542
276          277         0       3  45.000000      0      0    7.7500
147          148         0       3   9.000000      2      2   34.3750
834          835         0       3  18.000000      0      0    8.3000
718          719         0       3  29.699118      0      0   15.5000
404          405         0       3  20.000000      0      0    8.6625
610          611         0       3  39.000000      1      5   31.2750
196          197         0       3  29.699118      0      0    7.7500

[712 rows x 7 columns]

## Experiment

In [23]:
k = 2
# x.values.reshape(-1, 1)
kmeans = KMeans(n_clusters=k)
results = kmeans.fit_predict(x.values, y.values)
print(results) 
train['Survived']

[1 1 1 0 0 0 0 1 0 0 0 1 0 0 0 1 1 1 1 0 0 0 1 1 1 1 0 0 0 0 1 0 0 0 0 1 0
 0 0 0 0 0 1 1 1 0 1 1 0 1 0 1 0 1 0 1 1 0 0 1 1 0 1 0 1 0 0 1 0 0 0 1 0 1
 1 0 1 0 1 0 0 0 0 0 0 0 1 0 1 0 1 1 1 0 0 1 1 0 0 0 1 0 0 1 1 0 0 0 0 1 0
 1 1 1 0 1 1 1 0 1 0 0 0 0 0 1 1 1 1 1 0 0 1 0 1 1 1 0 0 0 0 0 1 0 0 1 0 1
 1 0 0 1 0 1 1 0 1 1 0 0 1 1 1 1 1 1 0 1 1 1 0 1 0 1 1 1 0 1 1 0 0 0 0 1 1
 0 1 1 1 1 1 1 1 1 0 0 0 0 1 0 1 0 0 0 0 0 0 0 1 1 0 1 0 0 0 0 1 0 1 0 1 1
 0 0 1 1 1 0 1 1 1 0 0 0 1 0 1 0 1 0 1 1 1 1 1 1 0 0 1 1 1 0 1 1 0 1 1 1 0
 0 1 0 1 1 0 0 0 0 1 0 0 0 0 0 1 1 1 0 0 1 0 1 0 1 0 1 1 0 0 1 1 1 0 1 0 1
 1 1 1 0 0 1 1 1 0 1 1 0 0 0 0 0 1 1 1 0 0 0 1 0 1 1 1 0 0 1 1 1 1 1 1 1 0
 1 0 0 0 1 1 1 1 1 0 1 0 1 0 0 1 1 1 1 0 0 0 0 1 1 1 1 1 0 0 1 0 1 0 1 1 0
 0 0 1 1 0 0 0 1 1 0 0 1 1 1 1 0 0 1 0 0 1 0 0 1 0 0 1 1 0 1 0 0 1 1 1 1 0
 1 0 0 1 0 0 1 1 1 1 1 0 0 1 1 1 1 0 1 0 0 0 1 1 1 1 0 1 1 1 0 1 1 0 0 0 1
 0 1 0 0 0 0 0 0 0 1 0 1 0 1 0 1 1 1 0 1 1 0 1 1 0 0 1 1 0 0 1 1 1 0 0 1 1
 0 0 1 1 1 1 1 0 0 1 0 0 0 0 0 1 0 0 1 1 0 0 1 0 1 1 1 0 1 1 0 1 0 0 0 0 1
 1 1 0 0 1 0 1 1 0 0 0 0 0 1 1 0 1 0 1 0 1 0 0 1 1 1 1 1 1 1 0 0 0 1 1 1 0
 0 0 1 1 1 1 1 1 0 0 1 1 1 1 1 0 1 0 0 0 1 1 0 1 0 0 0 0 1 0 0 0 1 0 1 0 1
 1 1 0 0 0 1 0 1 0 0 1 0 0 1 0 1 0 1 1 1 0 0 1 0 1 0 1 0 1 0 1 0 1 0 1 0 0
 1 0 0 0 0 1 1 0 0 0 0 0 1 1 0 0 0 1 1 1 0 0 0 0 1 0 0 0 1 0 0 1 1 0 0 1 1
 0 1 0 0 0 1 1 1 1 0 0 0 1 0 0 0 0 1 0 0 1 1 1 1 1 1 1 1 1 1 1 1 1 0 1 1 1
 0 1 1 1 0 0 1 0 1]

419    0
367    1
111    0
798    0
761    0
562    0
829    1
133    1
847    0
722    0
806    0
117    0
803    1
862    1
786    1
268    1
175    0
35     0
304    0
598    0
686    0
587    1
350    0
91     0
182    0
146    1
679    1
849    1
461    0
740    1
      ..
629    0
312    0
486    1
561    0
116    0
105    0
331    0
1      1
434    0
141    1
45     0
127    1
213    0
273    0
237    1
443    1
400    1
559    1
407    1
265    0
290    1
802    1
362    0
276    0
147    0
834    0
718    0
404    0
610    0
196    0
Name: Survived, dtype: int64

In [12]:
# loop over each row
print(x['Survived'].values)
print(x['PassengerId'].values)

[0 1 0 0 0 0 1 1 0 0 0 0 1 1 1 1 0 0 0 0 0 1 0 0 0 1 1 1 0 1 0 0 0 1 1 0 0
 0 1 1 0 1 0 0 1 1 0 1 0 1 0 1 0 1 1 0 0 1 1 0 1 1 0 1 1 0 0 1 1 0 1 0 1 1
 0 0 1 1 0 1 0 1 1 1 0 0 0 0 1 0 0 0 0 0 1 0 0 0 1 1 1 1 0 0 0 0 0 1 1 1 0
 0 1 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 0 0 0 0 1 0 1 1 0 0 0 0 0 1 1 1 1 0 1 0
 1 1 1 0 0 1 0 0 0 0 0 1 0 0 0 1 0 1 1 1 1 0 1 0 0 1 0 1 0 0 0 0 1 0 0 1 0
 1 1 1 0 0 0 0 0 0 0 1 0 0 1 0 1 1 1 0 0 0 0 1 1 1 0 0 0 1 0 0 0 0 1 0 1 0
 0 1 1 0 0 0 1 0 0 0 0 0 0 0 0 0 0 1 0 1 0 1 0 0 1 1 1 1 1 0 0 1 1 0 0 0 0
 1 1 0 1 1 0 0 0 1 0 1 0 0 0 0 1 0 1 0 1 1 0 0 0 1 0 1 0 0 0 0 0 0 0 1 0 1
 0 1 1 1 0 0 0 1 1 0 0 1 0 0 0 0 1 1 0 0 1 1 0 0 0 0 0 0 0 0 0 0 0 1 1 1 1
 0 0 0 0 0 0 0 0 0 0 0 1 1 1 0 0 0 0 0 1 0 0 0 1 0 1 0 0 1 0 0 0 1 0 1 0 0
 0 0 0 0 0 0 1 0 0 0 0 1 0 0 0 1 1 1 0 0 1 0 1 1 0 1 0 0 0 1 0 0 1 1 0 0 1
 0 0 0 0 0 0 0 1 1 0 0 0 1 0 0 1 0 0 1 0 0 1 1 1 1 0 0 0 0 0 0 0 0 0 1 0 1
 1 0 1 0 1 1 0 0 0 0 1 0 1 0 0 0 1 1 1 1 1 1 1 1 0 0 1 1 0 0 0 0 0 0 1 1 1
 0 1 1 0 1 1 1 1 0 1 1 0 0 0 1 1 1 0 1 0 0 0 0 1 0 0 1 1 0 1 1 1 0 0 1 1 1
 1 1 0 0 0 0 1 0 0 1 0 0 0 0 1 0 1 0 0 0 0 0 1 0 1 1 1 0 0 0 0 0 1 0 0 0 1
 0 1 0 1 1 1 0 1 1 0 0 0 0 1 1 0 1 1 0 0 1 1 1 0 0 1 0 0 0 1 0 1 0 0 0 0 0
 0 1 0 1 0 0 0 0 1 0 1 0 0 0 1 0 1 0 0 1 0 1 0 0 0 0 1 0 0 0 1 1 1 0 0 0 0
 1 1 0 1 1 0 1 0 0 0 0 1 0 1 0 0 0 1 1 0 0 0 0 0 1 0 1 1 0 0 1 1 0 0 1 1 0
 1 0 1 0 0 0 0 1 1 0 0 1 0 0 0 0 0 0 1 0 0 0 0 1 0 1 0 1 0 0 1 1 1 1 1 0 1
 1 0 0 0 0 0 0 0 0]
[420 368 112 799 762 563 830 134 848 723 807 118 804 863 787 269 176  36
 305 599 687 588 351  92 183 147 680 850 462 741 223 637 506 531 764 170
 587 777 650 713 795 505 105 387 306 766 240   3 656 400 659  98 589 195
 555 230 345 559 497 175  44 581 203 690 275 700 785  56 645 643 648 192
 592  66  78 816  20 867 178 890 475 521 728 601 455 666 251 852 436 491
 135 353 327 481 839 220 123 861 459 778   9 613 732  63 115 733 614 802
 605 208 703 159 301  71 544 337 236  64 837 124 808 579 722 747 710 138
 179 122 161 243 518 886 248 849 231 450 233 883 826 786 638 511 212 550
 876 372 858 286 199 707 609  35 758 270 265 465 374 396 584 508 130  34
 297  75 343 157 485 330 413 261 857 452 595 433 356 273 684   1 146 523
 781 575 699 167  97 636 217 210 424 204 149 206 419 352 796 678 483 765
  62 504 287 805 608 844 878 460 566 654 126 448 535  15 753 534 823 626
  68 591  24 729  53 160 801 470 324 156 285 815 441 201 385 602 767 664
 241 549 131 846  30 490 100 312 155  85 121 252 748 888  23  37 234 466
 229 415 524 325 402 336 499 671  89 879  83 445 641 542 860 840  81 519
 757 635 607 567 173 218 242 565 473 107 734 375 489 307 855 216 144 695
 529  28 366  70 817 348 663 110 181 280  57 843 476 365 136 256 872   5
 244 458 539 740 457 673  99 311 410 681 600 570 389 793 263  76 125 853
 647 378 379  77 224 338 428 417 755 362 477 819 621 282  19 250 101 397
 683 281 571 427 725 847 293 120 246 350 775 503 827 533 432   6 391 133
 393 702 788 172 887 359 885  67 303 891 716 657 404  52 640 865 551  31
  88 696 814 339 232 139 200 541 859  12 833 583 284 649 454 209 620 854
  72 439 672 196 569 486 304  40 119  43 484 177 590 714 141 615 838 211
 184 342 407 288 882 881 271  51 205 403 790 447 492 676 875 187 319  59
 163 784 443 254 228 769 344 279 516 597 749 381 642 440 782 617 856 510
 739 528 694  84 586 318 752 423 812   8  16 446 880  82 329 619 360 346
 820 530 382 221 770 512 113 247   7 697 670 316 331 604 456 258 355 394
  48 262 628 502 357 789 545 794 482 527 377 821 522 317  27 869 841 158
 644 164  42 349 540 409 260 832 449 556 688 580 548 335  54 384 509 679
 426 564 390  38 818 763 632 552 768 414 143 479 219 618  96 606  17 568
 536 333  11 376 320 165 180 411 561 737 824 103 429  49 709 689 836  61
 191 268 367 412  80 574 662 235 278 294 227 290 712 249 738 889 800 438
 185 573 453 669 866 873 851 190 622 842 698 315 809 383 736 151 215 302
 845 514 677  41 612 253 631 558 431 494 813 267 692 421 718 182  65   4
 493 780 340 495  73 705 272 553 245 724 257 721 152 868  95 467 625 392
 480 773 701 756 283 328 726 730 576 594 797 153  79 603 667 543 371 108
 406 655 772 526 791 225 651 731 717 354 660 760 276 386 877 745 289 132
 474 202 727 658 500 140  47 259 347 653 525 691 442 720 496 825 630 313
 487 562 117 106 332   2 435 142  46 128 214 274 238 444 401 560 408 266
 291 803 363 277 148 835 719 405 611 197]

In [8]:
tp = 0
fp = 0
fn = 0
for i in range(len(results)):
    diff = x['Survived'].values[i] - results[i]
    
    if diff == 1:
        fp += 1
    elif diff == 0:
        tp += 1
    else:
        fn += 1
        
print(tp, fp, fn)

342 148 222

In [9]:
# print(tp, fp, fn)
# print(type(tp))
f1 = f1_score(tp, fn, fp)
print(f1)

0.6489563567362429

## Conclusions

K-Means algoritm predicts 68.5% correct results.

In [15]:
df_result = pandas.DataFrame(results, columns=['Survived'])
df_result.to_csv('titanic_day2.csv', index=False)